<% unless current_user.is_a? GuestUser %>
  <%= form_with(model: @comment, local: true, url: '#', class: 'new_comment', id: 'new_comment') do |form| %>

    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control' %>
    </div>

    <%= form.submit 'Post Comment', class: 'btn btn-primary' %>
  <% end %>
<% end %>