<h1>Pages#about</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://via.placeholder.com/300x300", width: 250, alt: "Profile Image", class: "img-fluid" %>
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur cumque doloremque doloribus et exercitationem labore maxime neque, nesciunt, non porro possimus quaerat, quibusdam quidem sint! Ab, accusantium aspernatur doloremque dolores esse fuga in incidunt laboriosam magnam molestias necessitatibus nisi non pariatur praesentium quas quos repellat soluta tenetur voluptatibus voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur cumque doloremque doloribus et exercitationem labore maxime neque, nesciunt, non porro possimus quaerat, quibusdam quidem sint! Ab, accusantium aspernatur doloremque dolores esse fuga in incidunt laboriosam magnam molestias necessitatibus nisi non pariatur praesentium quas quos repellat soluta tenetur voluptatibus voluptatum!</p>
  </div>
</div>
